{% extends "base.html" %}
{% block content %}
    <h3 class="text-center mb-4">Logs list | {{ page_obj.paginator.count }}</h3>

    <table class="table table-hover mb-4">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">File name</th>
            <th scope="col">dps.report status</th>
            <th scope="col">dps.report log</th>
            <th scope="col">BFi status</th>
            <th scope="col">BFi log</th>
        </tr>
        </thead>
        <tbody>
        {% for log_data in logs_list %}
            <tr>
                <th scope="row">
                    <div class="text-start">{{ log_data.id }}</div>
                </th>
                <td>
                    <div class="text-start">{{ log_data.file_name }}</div>
                </td>
                <td>
                    <span class="badge {% if log_data.dps_report_status == 1 %}text-bg-success{% elif log_data.dps_report_status == 2 %}text-bg-secondary{% else %}text-bg-danger{% endif %}"
                    >{{ log_data.get_dps_report_status_display }}</span>
                </td>
                <td>
                    <div class="text-start">
                        {% if log_data.dps_report_status == 1 %}
                            <a href="https://dps.report/{{ log_data.dps_report_name }}"
                               target="_blank">{{ log_data.dps_report_name | default:"—" }}</a>
                        {% else %}—{% endif %}
                    </div>
                </td>
                <td>
                    <span class="badge {% if log_data.bfi_status == 1 %}text-bg-success{% elif log_data.bfi_status == 2 %}text-bg-secondary{% else %}text-bg-danger{% endif %}"
                          data-bs-title="{{ log_data.get_bfi_notify_code_display }}"
                          data-bs-toggle="tooltip" data-bs-placement="top">{{ log_data.get_bfi_status_display }}</span>
                </td>
                <td>
                    <div class="text-start">
                        {% if log_data.bfi_status == 1 %}
                            <a href="https://gw2bossfight.info/api/encounter/fights/{{ log_data.bfi_fight_id }}/"
                               target="_blank">BFi log</a>
                        {% else %}—{% endif %}
                    </div>
                </td>
            </tr>
            </tbody>
        {% empty %}
            <div class="text-center m-4">No data</div>
        {% endfor %}
    </table>

    {% if logs_list %}
        <nav aria-label="pagination">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
{% endblock %}
